:root {
  --main-boxes-height: 60px;
}

.creature-card {
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

.top-stat-container {
  margin-top: 6px;
  /* border-color: black;
  border-style: solid;
  border-width: 1px; */
}

.asm-container {
  margin-top: 6px;
  /* border-color: black;
  border-style: solid;
  border-width: 1px; */
}

.top-stat-block {
  height: var(--main-boxes-height);
  margin-top: 8px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.top-stat-block {
  font-weight: bold;
}

.top-stat-footer {
  height: 50%;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
}

.top-stat-footer-xs {
  font-size: 9px;
}

.asm-block {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.asm-block p {
  font-weight: bold;
}

.search-card-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.text-span {
  margin-top: 10px;
  margin-bottom: auto;
}